<p id="notice"><%= notice %></p>

<<<<<<< HEAD
=======
<h1>About <%= @student.name %></h1>

>>>>>>> develop
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
