<p id="notice"><%= notice %></p>

<h1>About Enrollment: <%= @enrollment.section.course.name %> Section <%= @enrollment.section.section_number %></h1>

<p>
  <strong>Section:</strong>
  <%= @enrollment.section.section_number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student.name %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
