<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Credit hours:</strong>
  <%= @course.credit_hours %>
</p>

<h2>Available Sections For <%= @course.name %></h2>
<table>
  <thead>
    <tr>
      <th>Section Number</th>
      <th>Semester</th>
      <th>Room Number</th>
    </tr>
  </thead>
    
  <tbody>
    <% @course.sections.each do |section| %>
      <tr>
        <td><%= section.section_number %>
	<td><%= section.semester %>
	<td><%= section.room_number %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>